name: C/C++ CI

on: [push]

jobs:
  linux_x64: # Ubuntu 18.04 (x64)
    runs-on: ubuntu-18.04
    steps: 
      - uses: actions/checkout@v1
      - name: Setup
        run: |
          git submodule update --init --recursive
          sudo apt update
          sudo apt install -y curl perl unzip tar make ninja-build build-essential zlib1g-dev
          vcpkg update
          vcpkg install openssl 
          cp /usr/local/share/vcpkg/triplets/x64-linux.cmake /usr/local/share/vcpkg/triplets/x64-linux-musl.cmake 
          echo 'set(CMAKE_SYSROOT /x86_64-linux-musl/)' >> /usr/local/share/vcpkg/scripts/toolchains/linux.cmake
          vcpkg install cairo libjpeg-turbo sqlite3 libpng
          sed -i -e '/RPATH/d' submodules/FreeRDP/CMakeLists.txt
      - name: Build
        run: |
          mkdir build
          mkdir install
          cd build
          cmake -DBUILD_TESTING=OFF -DCMAKE_BUILD_TYPE=RelWithDebInfo -DCMAKE_C_FLAGS='-static -static-libgcc -static-libstdc++' -DCMAKE_CXX_FLAGS='-static -static-libgcc -static-libstdc++' -DCMAKE_TOOLCHAIN_FILE=/usr/local/share/vcpkg/scripts/buildsystems/vcpkg.cmake -DVCPKG_TARGET_TRIPLET=x64-linux-musl .. && cmake --build . --target collab-vm-server
          ls -l -a

  windows_x64: # Windows Server 2019 (x64)
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v1
    - name: Setup 
      run: | 
        git submodule update --init --recursive
        # Install dependencies
        vcpkg install --triplet x64-windows cairo libjpeg-turbo sqlite3 libpng openssl pthreads
    - name: Build
      run: |
        mkdir build
        mkdir install
        cd build
        cmake -G "Visual Studio 16 2019" -DCMAKE_BUILD_TYPE=RelWithDebInfo -DCMAKE_INSTALL_PREFIX=D:/a/collab-vm-server/collab-vm-server/install/ -DCMAKE_TOOLCHAIN_FILE=C:/vcpkg/scripts/buildsystems/vcpkg.cmake -DVCPKG_TARGET_TRIPLET=x64-windows ..
        cmake --build . --target install --config RelWithDebInfo
        dir D:\a\collab-vm-server\collab-vm-server\install
        exit
